<div class="container">
    <form>
        <div class="row mt-5"></div>

        <div class="card-header">
            <h3>School timing</h3>
        </div>
        <div class="card-body">
        <div class="row mt-3">
            <div class="col-md-3">
                <label>The academic year begins in the month of</label>
                <span><i></i></span>
                <input class="form-control" type="dropdown">
            </div>
            <div class="col-md-3">
                <label>Ends in the month of</label>
                <span><i></i></span>
                <div class="input-group">
                    <select class="form-control form-select">
                        <option value="February" value="January">January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>Jully</option>
                        <option>August</option>
                        <option>September</option>
                        <option>october</option>
                        <option>November</option>
                        <option>December</option>
                    </select>
                </div>
            </div>
        </div>
    
            <div class="row mt-3">
                
                <div class="col-md-4"> Number of Working Days During the Last Three Years</div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3"></div>
                <div class="col-md-3">2021-2022</div>
                <div class="col-md-3">2020-2021</div>
                <div class="col-md-3">2019-2020</div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">No. of working days</div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-sort-numeric-down"></i>
                        </span>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-sort-numeric-down"></i>
                        </span>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-sort-numeric-down"></i>
                        </span>
                        <input type="number" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">Hours of academic work each day</div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-sort-numeric-down"></i>
                        </span>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-sort-numeric-down"></i>
                        </span>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-sort-numeric-down"></i>
                        </span>
                        <input type="number" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">Total Instructional hours</div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-sort-numeric-down"></i>
                        </span>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-sort-numeric-down"></i>
                        </span>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-sort-numeric-down"></i>
                        </span>
                        <input type="number" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">No. of non-instructional work days for teaching staff</div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-sort-numeric-down"></i>
                        </span>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-sort-numeric-down"></i>
                        </span>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-sort-numeric-down"></i>
                        </span>
                        <input type="number" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">No. of Holidays other then the national Holidaysd</div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-sort-numeric-down"></i>
                        </span>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-sort-numeric-down"></i>
                        </span>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fas fa-sort-numeric-down"></i>
                        </span>
                        <input type="number" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="cadr-body">
            <div class="row">
                <div class="col-md-6">
                
                    <label>No. of Subject teaching periods per week</label>
                    <input type="number" class="form-control">
                    
                </div>
                <div class="col-md-6">
                    
                        <label>No. of Periods for Faith/Moral Science teaching in a week</label>
                        <input type="number" class="form-control">
                        </div>
              
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>No. of hours for activities in the Clubs/Groups/Associations/Movements</label>
                    <input type="number" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Duration of a teaching period
                    </label>
                    <input type="number" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>School Time In Summer(From))</label>
                    <input type="number" class="form-control">
                </div>
                <div class="col-md-3">
                    <label>School Time In Winter(To)</label>
                    <input type="number" class="form-control">
                </div>
                <div class="col-md-3">
                    <label>School Time In Winter(From)</label>
                    <input type="number" class="form-control">
                </div>
                <div class="col-md-3">
                    <label>School Time In Winter(To)</label>
                    <input type="number" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Does the school work in shifts?</label>
                    <input type="number" class="form-control">
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>

    </form>
</div>