<div class="container" style="font-family:Georgia, 'Times New Roman', Times, serif;">
    <div class="card position-absolute top-50 start-50 translate-middle" style="background-color: rgb(255, 189, 96);">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row mt-5"></div>
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                        class="img-fluid" style="height: 250pt;">
                </div>
                <div class="col-md-5">
                    <form [formGroup]="registerForm">
                        <div class="col" style="text-align: center;">
                            <label>
                                <h3><b>Register Form</b></h3>
                            </label>
                        </div>
                        <div class="row">
                            <div class="col" class="input-group">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                                <input class="form-control" type="text" formControlName="name" placeholder="Full name">
                            </div>
                                
                        <div class="col-md-1"
                        *ngIf="registerForm.controls['name'].invalid && registerForm.controls['name'].touched"
                        style="color: red
                    ;"> 
                        &nbsp;*</div>

                            
                        </div>




                        <div class="row mt-3">

                            <div class="col" class="input-group">
                                <span class="input-group-text"><i class="fa fa-arrow-up-9-1"></i></span>
                                <input type="text" class="form-control" formControlName="age" placeholder="Age">
                            
                                <div class="col-md-1"
                                *ngIf="registerForm. controls['age'].invalid && registerForm.controls['age'].touched"
                                style="color: red;">
                                &nbsp;*</div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <label>Gender</label>
                            </div>
                            <div class="col">
                                <input type="radio" value="Male" formControlName="gender"><label>Male</label>
                                <input type="radio" value="Female" formControlName="gender"
                                    style="margin-left: 30px;"><label>Female</label>
                            
                            <div class="col"
                                *ngIf="registerForm. controls['gender'].invalid && registerForm.controls['gender'].touched"
                                style="color: red;">
                                required</div>
                            </div>
                        </div>
                        <div class="row mt-3">

                            <div class="col"  class="input-group">
                                <input type="text" class="form-control" formControlName="father_name"
                                    placeholder="Father's name">
                                <div class="col-md-1"
                                *ngIf="registerForm. controls['father_name'].invalid && registerForm.controls['father_name'].touched"
                                style="color: red;">
                                &nbsp;*</div>
                            </div>
                        </div>
                        <div class="row mt-3">

                            <div class="col"  class="input-group">
                                <input type="text" class="form-control" required formControlName="mother_name"
                                    placeholder="Mother's name">
                            
                                <div class="col-md-1"
                                *ngIf="registerForm. controls['mother_name'].invalid && registerForm.controls['mother_name'].touched"
                                style="color: red;">
                                &nbsp;*</div>

                            </div>
                        </div>
                        <div class="row mt-3">

                            <div class="col"  class="input-group">
                                <input type="text" class="form-control" required formControlName="user_name"
                                    placeholder="User name">
                                <div class="col-md-1"
                                *ngIf="registerForm. controls['user_name'].invalid && registerForm.controls['user_name'].touched"
                                style="color: red;">
                                &nbsp;*</div>
                            </div>


                        </div>

                        <div class="row mt-3">

                            <div class="col"  class="input-group">
                                <input type="text" class="form-control" required formControlName="password"
                                    placeholder="Password">
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9"
                                *ngIf="registerForm. controls['password'].invalid && registerForm.controls['password'].touched"
                                style="color: red;">
                                Password should contain,
                               <li>At least 8 characters</li>

                                
                                <li>Upper,Lowercase letters</li>
                                <!-- <li>Uppercase letters</li> -->
                                <li>Numbers</li>
                                <li>Special characters</li>
                                </div>
                        </div>   
                        
                        <div class="row mt-4">
                            <div class="col-md-4"></div>
                            <div class="col-md-5">
                                <button class="btn btn-info" type="submit
                                    ">Submit</button>
                            </div>

                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- </div> -->