<div class="container">
    <form>
        <div class="row mt-3"></div>
        <div class="card">
            <div class="card-header">
                <h3>Curricular & Extrecurricular Activities</h3>
            </div>

            <div class="row mt-2">
                <div style="text-align:center ;">Curricular Activities</div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label style="font-size :13px ;">No of curricular activities are carried out</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="no_curricular_caried">
                    </div>
                </div>
                <div class="col-md-4">
                    <label style="font-size :13px ;">No. of Groups/Clubs/Associations/Movements present</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="no_groups">
                    </div>
                </div>
                <div class="col-md-4">
                    <label style="font-size :13px ;">No. of Community Services done in the last academic year</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="no_community">
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div style="text-align:center ;">No. of Sports Events Participated in the Last Year</div>
            </div>

            <div class="row mt-2">
                <div class="col-md-2">
                    <label style="font-size :13px ;">School</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="last_school">
                    </div>
                </div>
                <div class="col-md-2">
                    <label style="font-size :13px ;">Zonal</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="last_zonal">
                    </div>
                </div>
                <div class="col-md-2">
                    <label style="font-size :13px ;">District</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="last_district">
                    </div>
                </div>
                <div class="col-md-2">
                    <label style="font-size :13px ;">State</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="last_state">
                    </div>
                </div>
                <div class="col-md-2">
                    <label style="font-size :13px ;">National</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="last_national">
                    </div>
                </div>
                <div class="col-md-2">
                    <label style="font-size :13px ;">International</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="last_international">
                    </div>
                </div>
            </div>
            
            <div class="row mt-3">
                <div style="text-align:center ;">No. of Competitions Participated in the Last Year</div>
            </div>

            
            <div class="row mt-2">
                <div class="col-md-2">
                    <label style="font-size :13px ;">School</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="com_school">
                    </div>
                </div>
                <div class="col-md-2">
                    <label style="font-size :13px ;">Zonal</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="com_zonal">
                    </div>
                </div>
                <div class="col-md-2">
                    <label style="font-size :13px ;">District</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="numbr" class="form-control" formControlName="com_district">
                    </div>
                </div>
                <div class="col-md-2">
                    <label style="font-size :13px ;">State</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="com_state">
                    </div>
                </div>
                <div class="col-md-2">
                    <label style="font-size :13px ;">National</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="com_national">
                    </div>
                </div>
                <div class="col-md-2">
                    <label style="font-size :13px ;">International</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="com_international">
                    </div>
                </div>
            </div>
            
            <div class="row mt-3">
                <div style="text-align:center ;">No.of Inter School Programmes Organized in the Last Year</div>
            </div>

            <div class="row mt-2">
                <div class="col-md-2">
                    <label style="font-size :13px ;">School</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="sclpro_school">
                    </div>
                </div>
                <div class="col-md-2">
                    <label style="font-size :13px ;">Zonal</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="sclpro_zonal">
                    </div>
                </div>
                <div class="col-md-2">
                    <label style="font-size :13px ;">District</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="sclpro_district">
                    </div>
                </div>
                <div class="col-md-2">
                    <label style="font-size :13px ;">State</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="sclpro_state">
                    </div>
                </div>
                <div class="col-md-2">
                    <label style="font-size :13px ;">National</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="sclpro_national">
                    </div>
                </div>
                <div class="col-md-2">
                    <label style="font-size :13px ;">International</label>
                    <div class="input-group">
                        <span CLASS="input-group-text" style="background-color: rgb(135, 223, 235);"><i
                                class="fas fa-sort-numeric-down"></i></span>
                        <input type="number" class="form-control" formControlName="sclpro_internatinal">
                    </div>
                </div>
            </div>
            <div class="row mt-3"></div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-1">
                        <button class="btn btn-success" >Previous</button>
                    </div>
                    <div class="col-md-10"></div>
                    <div class="col-md-1">
                        <button class="btn btn-success" >Next</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>