    <form [formGroup]="loginForm" >
   
        <div class="container">
            <div class="card position-absolute top-50 start-50 translate-middle" style="background-color: rgb(248, 172, 85);font-family: 'Courier New', Courier, monospace;">
                <div class="card-body">
                    <div class="row">
                        <div class="col"><img
                               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSajZmDxDFDHGaR7dASRW_R86ZlgLCa3-GHXA&usqp=CAU"
                                class="img-fluid">
                        </div>
                        <div class="col">
                            <div class="row mt-4">
                                <div class="col-md-6 input-group">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    <input class="form-control" type="text" formControlName="user_name"  placeholder="Username">
                                <div *ngIf="loginForm.controls['user_name'].invalid && loginForm.controls['user_name'].touched" style="color:rgb(247, 59, 6);">&nbsp;&nbsp;*</div>
                            </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-3 input-group">
                                    <span class="input-group-text"><i class="fa fa-solid fa-key"></i></span>
                                    <input class="form-control"  formControlName="password" placeholder="password"  [type]="fieldTextType?  'text': 'password'">
                                    
                                        <span class="input-group-text">
                                          <i
                                            class="fa"
                                            [ngClass]="{
                                              'fa-eye': fieldTextType,
                                              'fa-eye-slash':!fieldTextType
                                             
                                            }"
                                            (click)="toggleFieldTextType()"
                                          ></i>
                                        </span>
                                     
<!--                                     
                                        <button (click)="x.type=x.type=='password'?'text':'password'" class="input-group-text"><i class="fa fa-eye-slash"></i></button> -->
                                
                                        
                                    <!-- <input class="form-control" formControlName="password" placeholder="password"> -->
                                    <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" style="color:rgb(225, 21, 236);">&nbsp;&nbsp;*</div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3"></div>
                                <div  class="col-md-4" class="alert alert-danger"*ngIf="error==1" role="alert" style="text-align: center;color: rgb(255, 7, 7);">
                                    Invalid credential
                                  </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-4"></div>
                                <div class="col">
                                    <button class="btn btn-success" [disabled] ="!loginForm.valid"(click)="onSubmit()">Login</button>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-4"></div>
                                <div class="col">
                                    <a href="/register1" style="color: purple;">Sign up</a>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
   
</form>



