<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        </button>
        <h2>Edu-Star</h2>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container">

    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true">
        <p>Menu</p>
        <mat-nav-list class="example-list">
            <!-- <button mat-list-item href="home">Home</button>> -->
            <a mat-list-item (click)="submit()">User profile</a>
            <a mat-list-item (click)="submitgen()">School Profile</a>
            <a mat-list-item></a>
        </mat-nav-list>

        <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button> -->
    </mat-drawer>
<div class="row mt-3">
    <div class="col-lg-15">
    <div class="container-fluid">        
        <router-outlet></router-outlet>
    </div>
</div>
</div>

</mat-drawer-container>